VITE_KEYCLOAK_JSON={"realm":"Local","auth-server-url":"http://localhost:8080/auth/","ssl-required":"external","resource":"user-area-front","public-client":true,"confidential-port":0}
VITE_API_URL=http://localhost:3000/user-area/api/v1
VITE_BASE_URL=/user-area
